@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #111;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #111;
}

main {
    flex: 1 0 auto;
}

/* Navbar */
.navbar ul li a {
    color: #fff;
}

.navbar ul li a:hover {
    color: #5f9ea0;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: 50px;
}

.navbar-brand:hover {
    color: #5f9ea0;
}

.navbar.navbar-expand-lg.logo {
    padding-left: 30px;
}

/* Buttons */
.btn {
    color: white;
}

.btn:hover {
    color: #5f9ea0;
}

/* Search bar */
.search-container {
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    margin-right: 0;
    border: 2px solid white;
    border-right: transparent;
}

.form-inline {
    flex-flow: nowrap;
}

.search-bar.form-control {
    border-radius: .25rem 0 0 .25rem;
}

.search-btn {
    border-radius: 0 .25rem .25rem 0;
    padding: 6px 10px;
}

input.form-control.search-bar {
    width: 85%;
}

/*--Index--*/

#intro {
    height: 100%;
}

.sitedescription {
    padding: 5%;
}

#examples {
    padding-bottom: 10%;
}
/*--Contact Form--*/
#contactnotification{
    display: none;
    text-align: center;
    padding: 5%;
}

/*--Profile--*/
.updateprofilebtn {
    padding: 2%;
}

.chatbtn {
    padding: %;5
}
/*--My Profile--*/
#profile h2 {
    padding: 20px;
}

#connections h2 {
    padding-top: 20px;
}

h2.chat-heading {
    padding-top: 80px;
}

/*--Chat--*/
.chat-heading {
    padding: 5%;
}
/*--Blogs--*/
#blog p {
    padding: 10px;
}

.m-2 {
    margin: 0 !important;
}

.cancelbtn {
    margin-right: 20px;
}

/*--Blog_details--*/
.card.blogpost {
    background-color: #111;
    margin: 10%;
}

.card-img-top.img-fluid.blog-img {
    padding-bottom: 20px;
}

/*--Footer--*/
footer {
    right: 0;
    bottom: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}

.footer-container p {
    text-align: center;
}

.social-links li i {
    justify-items: center;
}

#social-col {
    align-content: flex-center;
    text-align: center;
    -ms-flex-line-pack: center;
}

/*--Social media icons--
*/
.fab {
    font-size: 30px;
    padding-top: 10px;
    color: whit4e;
}

.fab:hover {
    color: #5f9ea0;
}

.fas {
    font-size: 30px;
    padding-top: 10px;
    color: whit4e;
}

.fas:hover {
    color: #5f9ea0;
}

/* Tabs */
.tab-container {
    margin-bottom: 120px;
    margin-top: 75px;
}

.tab-bar {
    padding-right: 0;
}

.tablinks {
    background-color: #ffe3ec;
    color: #f64a8a;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 33%;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

.tabcontent {
    display: none;
    min-height: 80%;
}

.tab button {
    background-color: #000;
    color: white;
}

.tab button:hover {
    background-color: #5F9EA0;
    color: white;
}

.tab button.active {
    background-color: #008080;
    color: #000;
}