{% extends "base.html" %}

{% block content %}

<!--404 Error Message-->
<div class="container-fluid d-flex align-items-center justify-content-center h-100">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-12">
            <div class="f404">
                <h1 class="f404-heading hide-on-small-only"><strong class="sub-404">404</strong><br> Page Not Found!
                </h1>
                <p class="p404"> Oops! Seems we've hit a dead end!
                    <br> Let's get you back on the right path!
                    <br><a href="{{ url_for('index') }}" class="btn-404 btn-small">OK!</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}