{% extends "base.html" %}

{% block content %}

<!--404 Error Message-->
    <div class="row center-align">
        <div class="col-md-10">
            <div class="f404">
                <h1 class="f404-heading hide-on-small-only"><strong class="sub-404">404</strong><br> Page Not Found!</h1>
                <h2 class="f404-heading hide-on-med-and-up"><strong class="sub-404">404</strong><br> Page Not Found!</h2>
                    <p class="p404"> Oops! Seems we've hit a dead end!
                        <br> Let's get you back on the right path!
                        <br><a href="{{ url_for('index') }}" class="btn-404 btn-small">OK!</a>
                    </p>
            </div>
        </div>
    </div>


{% endblock %}