{% extends "base.html" %}

{% block content %}

<!--Display Blog Posts-->
<div class="row">
    <div class="col-10 offset-1">
        <div id="blog" class="text-center">
            <h2>Crypto Blog</h2>
            <p>News, updates and industry insights</p>
            <a href="{{ url_for('add_blog') }}" class="btn">Add a new blog post</a>

            {% if blogs|length > 0 %}
            <div class="row">
                <div class="blogs-container col-10 offset-1">
                    <div class="row mt-1 mb-2"></div>
                    <div class="row">
                        {% for blog in blogs %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 m-2 ">
                                <div class="card-body pb-0 pt-3 text-center">
                                    <h5>{{ blog.blog_title }}</h5>
                                    <p><strong>Author:</strong> {{ blog.created_by }}
                                        <br><strong>Published:</strong> {{ blog.date_created }}
                                    </p>

                                    <a href="{{ url_for('blog_detail', blog_id=blog._id) }}" class="btn">View
                                        Post</a>
                                    {% if session.user|lower == blog.created_by|lower %}
                                    <a href="{{ url_for('edit_blog', blog_id=blog._id) }}" class="btn">Edit Post</a>
                                    <a href="{{ url_for('delete_blog', blog_id=blog._id) }}"
                                        class="btn light-blue lighten-1">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% if loop.index is divisibleby 1 %}
                        <div class="col-12 d-sm-none mb-4"> </div>
                        {% endif %}
                        {% if loop.index is divisibleby 2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-4">
                            <hr class="mt-5 w-75">
                        </div>
                        {% endif %}
                        {% if loop.index is divisibleby 3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-4">
                            <hr class="mt-5  w-75">
                        </div>
                        {% endif %}
                        {% if loop.index is divisibleby 4 %}
                        <div class="col-12 d-none d-xl-block mb-4">
                            <hr class="mt-5 w-75">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}