{% extends "base.html" %}

{% block content %}

<main>
    <section class="container-fluid">
        <div class="row text-center">
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <h1 class="form-heading-editblog">Edit Blog Post</h1>
            </div>
        </div>

        <!-- Edit Blog Post Form-->
        <div class="row form-container mb-5">
            <form class="col-10 offset-1 col-md-6 offset-md-3" method="POST"
                action="{{ url_for('edit_blog', blog_id=blog._id) }}">
                <div class="row pt-2">
                    <div class="form-group col-12 text-center">
                        <label for="blog_title" class="d-none">Title</label>
                        <input type="text" minlength="5" maxlength="50" value="{{blog.blog_title}}"
                            class="form-control validate" id="blog_title" name="blog_title" required>
                    </div>
                    <div class="form-group col-12 text-center">
                        <label for="content" class="d-none">Content</label>
                        <textarea minlength="5" maxlength="1000" class="form-control validate" id="content"
                            name="content" placeholder="Content" required>
                            {{- blog.content -}}
                        </textarea>
                    </div>
                    <div class="form-group col-12  text-center">
                        <label for="image" class="d-none">Image</label>
                        <input type="url" class="form-control validate" id="image" name="image" placeholder="Image">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <div>
                            <a href="{{ url_for('blogs', username=session['user']) }}" class="btn-small cancelbtn">
                                Cancel
                            </a>
                            <button class="btn-small save-btn" type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock %}