{% extends "base.html" %}
{% block content %}
<!--Introduction-->
<div id="intro" class="view">

    <div class="hero rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Crypto Connect</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4 sitedescription">Crypto Connect is a free platform designed for users to connect with
                        like-minded individuals to network and learn about crptocurrency.</h4>
                    <a href="{{ url_for('register') }}" class="btn btn-dark signupbtn">Sign Up Now!</a>

                </div>

            </div>

        </div>

    </div>

</div>
<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: features-->
        <section id="features" class="text-center">

            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="mb-5">

                    <!-- Image -->
                    <img class="logo" src="{{ ('static/images/logo.gif') }}" alt="logo" />

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">What we offer :</h2>
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <i class="fab fa-connectdevelop fa-4x"></i>
                    <h4 class="my-4 font-weight-bold">Mentors</h4>
                    <p class="grey-text">Join us now and start educating and connecting with people like you who are
                        passionate in blockchain and cryptocurrencies. Mentoring relationships are a shared opportunity
                        for learning and growth. Many mentors say that the rewards they gain are as substantial as those
                        for their mentees, and that mentoring has enabled them to really get involved in the community
                        and keep up to date in crypto. </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fas fa-handshake fa-4x"></i>
                    <h4 class="my-4 font-weight-bold">Mentee</h4>
                    <p class="grey-text">We have over hundreds of experienced friendly professionals ready to connect
                        and share with you their insights and top trading tips! Find a genuine mentor on our free
                        platform without having the fear of of being scammed into online ponzis schemes or paying huge
                        fees into learning cryptocurrencies. </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fab fa-blogger fa-4x"></i>
                    <h4 class="my-4 font-weight-bold">Blog</h4>
                    <p class="grey-text">We offer original coverage of the global blockchain and cryptocurrency news,
                        provide opinions, reviews, guides, introduce Crypto to people with an aim to help the general
                        public understand and successfully use these technologies now and in the future. We wellcome
                        memebers to contribute to our blog posts and share your insights with the community. </p>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Best Features-->

        <hr class="my-5">

        <!--Section: Top Coins-->
        <section id="examples" class="text-center">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">Top Trading Coins</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="">
                        <div class="home rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Bitcoin</h4>
                    <p class="grey-text">As the first cryptocurrency, Bitcoin (BTC) is also the most popular and highly valued, despite high volatility over the course of its history. Bitcoin was initially created to be used as a digital payment system, but experts say it is still too volatile to be used for that.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="">
                        <div class="home rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Ethereum</h4>
                    <p class="grey-text">Ether (ETH) is the cryptocurrency of the Ethereum network, an open-source blockchain upon which developers can build apps and other cryptocurrencies. It’s also the second largest cryptocurrency by market cap, behind Bitcoin. Ether’s value has risen sharply since its creation in 2013, to nearly $3,000 for one token as of late May, but still lags well behind Bitcoin’s value of nearly $40,000 per coin. </p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/29.jpg" class="img-fluid" alt="">
                        <div class="home rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">XRP</h4>
                    <p class="grey-text">XRP is the cryptocurrency of the Ripple digital payment network. Built for digital payments, XRP touts itself as a faster and more efficient way to power global payments. Ripple and XRP also allow for third-party development on other uses for XRP.</p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/10.jpg" class="img-fluid" alt="">
                        <div class="home rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Cardano</h4>
                    <p class="grey-text">Cardano (ADA) uses a technology called Ouroboros, a peer-reviewed blockchain protocol. It describes itself as a more secure and scalable way to maintain decentralization.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/11.jpg" class="img-fluid" alt="">
                        <div class="home rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">Stellar</h4>
                    <p class="grey-text">Stellar’s native cryptocurrency is the Lumen (XLM). Stellar is designed as an “open network for storing and moving money” that allows people to create, send, and trade digital money. It’s designed to sell and trade all digital monies, not just Stellar’s own associated cryptocurrency, the Lumen — although you’ll need to own some Lumen to make transactions.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" class="img-fluid" alt="">
                        <div class="home rgba-white-slight"></div>
                    </div>

                    <h4 class="my-4 font-weight-bold">USD Coin</h4>
                    <p class="grey-text">USD Coin (USDC) describes itself as “the world’s digital dollar.” Created by a global financial firm called Circle, USDC is the result of work that has been invested in by Goldman Sachs, Baidu, and IDG Capital, among others. USD Coin is tied to the U.S. Dollar, which makes its price much more stable than other cryptocurrencies. </p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Top Coins-->



    </div>
</main>
<!--Main layout-->

{% endblock %}