{% extends "base.html" %}

{% block content %}
<div class="row search-container">
    <div class="col-12 text-center">
        <form class="form-inline" method="POST" action="{{ url_for('search') }}">
            <label for="search" class="d-none"></label>
            <input class="form-control search-bar" type="text" name="search" id="search" minlength="3"
                placeholder="Search members..." aria-label="Search">
            <button class="btn search-btn my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="col-12 col-md-6">
        <a href="{{ url_for('members') }}" class="btn mx-auto">Clear Results</a>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1 text-center">
        <div id="profile">
            <h2 class="myprofile">Members</h2>
            <p class="text-center">Get to know everyone in our community now and start networking!</p>

            {% if profiles|length > 0 %}
            <div class="row">
                <div class="members-container col-10 offset-1">
                    <div class="row mt-1 mb-2"></div>
                    <div class="row">
                        {% for profile in profiles %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 m-2 ">
                                <div class="row no-gutters">
                                    <img class="card-img-top img-fluid" src="{{ profile.image }}"
                                        alt="{{ profile.name }}">
                                </div>
                                <div class="card-body pb-0 pt-3 text-center">
                                    <h5 class="profile-info">{{ profile.fullname }} <span
                                            class="text-muted">({{ profile.member_type }})</span></h5>
                                    <p><strong class="profile-info">Job Title:</strong> {{ profile.job_title }}
                                        <br><strong class="profile-info">Experience:</strong> {{ profile.experience }}
                                        <br><strong class="profile-info">Interests:</strong> {{ profile.interests }}
                                    </p>

                                    <a href="{{ url_for('profile_detail', profile_id=profile._id) }}" class="btn">View
                                        Profile</a>
                                </div>
                            </div>
                        </div>

                        {% if loop.index is divisibleby 1 %}
                        <div class="col-12 d-sm-none mb-4"> </div>
                        {% endif %}
                        {% if loop.index is divisibleby 2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-4">
                            <hr class="mt-5 w-75">
                        </div>
                        {% endif %}
                        {% if loop.index is divisibleby 3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-4">
                            <hr class="mt-5  w-75">
                        </div>
                        {% endif %}
                        {% if loop.index is divisibleby 4 %}
                        <div class="col-12 d-none d-xl-block mb-4">
                            <hr class="mt-5 w-75">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="text-center">
    <h2 class="profile-info results-heading">No Results Found</h2>
    <a href="{{ url_for('members') }}" class="btn">
        Clear Results
    </a>
</div>
{% endif %}

{% endblock %}