{% extends "base.html" %}

{% block content %}
<!-- Display profile-->
<div class="profile-container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-4">
            <div class="image-container">
                <img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/'+profile.image ) }}"
                    alt="{{ profile.fullname }}">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="profile-details-container mb-5 mt-5">
                <h3 class="mb-0 font-weight-bold profile-info">{{ profile.fullname }}</h3>
                <p class="small"><span class="text-muted">({{ profile.member_type }})</span></p>
                <p><strong class="profile-info">Birthday:</strong> {{ profile.birthday }}
                    <br><strong class="profile-info">Location:</strong> {{ profile.location }}
                    <br><strong class="profile-info">Job Title:</strong> {{ profile.job_title }}
                    <br><strong class="profile-info">Experience:</strong> {{ profile.experience }}
                    <br><strong class="profile-info">Interests:</strong> {{ profile.interests }}
                    <br><small><em class="profile-info">joined: {{ profile.date_created }}</em></small>
                </p>

                <form method="POST" action="{{ url_for('add_connection', profile_id=profile._id) }}" class="w-50">
                    <button class="btn" id="connect" name="connect" type="submit">Connect</button>
                </form>
                <a href="{{ url_for('members') }}" class="btn">Back to Members</a>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

{% endblock %}